# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.TennisGame_20210108.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\Github\Repos\TennisGame_20210108\.idea\.idea.TennisGame_20210108\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
